body {
    background-color: #1c1b21;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

button {
    border-radius: 20px;
    width: 80px;
    height: 35px;
}

#header {
    display: flex;
    align-items: center;         
    justify-content: space-between; 
    background-color: #131315;  

}

#red {
    display: flex;
    align-items: center;
    gap: 15px;   
}
#blue {
    display: flex;
    align-items: center;
    gap: 12px;   
}

#banner {
    border-style: solid;
    border-width: 10px;
    border-color: #1c1b21;
    width: 99%;
    height: 500px;
}

#about {
  display: flex;      
  align-items: center; 
  gap: 40px;     
}

#img-about {
    margin: auto;
    width: 27%;    
    height: auto; 
    padding: 10px;
    
}

#text-content {
    flex: 1;  
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    padding: 20px;
    border-color: black;
    background-color: #c17110;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    text-align: center;
}

#copyright {
    font-family: "Libre Caslon Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    text-align: center;
}

button {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
     font-weight: 600px;
     font-style: normal;
     font-variation-settings:
      "wdth" 100;
    background-color: #49b5e0;
}